<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="Gateway" type="Imarda.Lib.XmlConfigurator, Imarda.Common" />
	</configSections>
	<connectionStrings>
		<!--
		Note that connection strings are retrieved based on the assembly 
			name of the type an operation is being performed on.
		-->
		<add name="CormitRouteTrackingBusinessInterface" connectionString="Integrated Security=False;Persist Security Info=False;Data Source=INZ13PC007;User ID=application;password=imarda;Initial Catalog=Cormit.Route" providerName="System.Data.SqlClient" />
    <add name="CormitRouteTrackingBusinessInterface1" connectionString="Integrated Security=False;Persist Security Info=False;Data Source=INZ13PC007;User ID=application;password=imarda;Initial Catalog=Cormit.RouteTracking" providerName="System.Data.SqlClient" />
    <!--Needsto Change -->
    <add name="ImardaCRMBusinessInterface" connectionString="Integrated Security=False;Persist Security Info=False;Data Source=INZ13PC007;User ID=application;password=imarda;Initial Catalog=Imarda360.CRM" providerName="System.Data.SqlClient" />
    <add name="ImardaSecurityBusinessInterface" connectionString="Integrated Security=False;Persist Security Info=False;Data Source=INZ13PC007;User ID=application;password=imarda;Initial Catalog=Imarda360.Security" providerName="System.Data.SqlClient" />
    <add name="ImardaAttributingBusinessInterface" connectionString="Integrated Security=False;Persist Security Info=False;Data Source=INZ13PC007;User ID=application;password=imarda;Initial Catalog=Imarda360.Attributing" providerName="System.Data.SqlClient" />
    
		</connectionStrings>
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Cache Manager" />
		</cacheManagers>
		<backingStores>
			<add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage" />
		</backingStores>
	</cachingConfiguration>
	<appSettings>
		<add key="ReportServer" value="http://10.48.26.4/ReportServer/ReportService2005.asmx" />
		<add key="ReportBaseUrl" value="http://10.48.26.4/ReportServer" />
		
		<!-- add key="EchoTrackers.V300b" value="" /-->
		<!-- add key="EchoIPAddresses.V300b" value="" /-->
		
		
		</appSettings>
	<system.serviceModel>
	
    <services>
      <!--<service name="Cormit.Business.RouteTracking.CormitRouteTracking">
        <endpoint name="TrackingTcpEndpoint" address="net.tcp://0.0.0.0:8013/CormitRouteTracking" binding="netTcpBinding" bindingConfiguration="DefaultBinding" 
                  contract="Cormit.Business.RouteTracking.ICormitRouteTracking" behaviorConfiguration="DefaultBehavior" />
       
      </service>-->
      <service name="Cormit.Business.RouteTracking.CormitRouteTracking" behaviorConfiguration="mexbehavior">
        <endpoint address="http://127.0.0.1:8013/CormitRouteTracking" 
                  behaviorConfiguration="NonStupidlyParanoidBehavior" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="HugeBufferBindingConfig" 
                  name="TrackingTcpEndpoint" 
                  contract="Cormit.Business.RouteTracking.ICormitRouteTracking" />
        <endpoint address="http://127.0.0.1:8013/CormitRouteTracking/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

      <service name="Cormit.Application.RouteApplication.Cormit24" behaviorConfiguration="mexbehavior">
        <endpoint address="http://127.0.0.1:8013/Cormit24"
                  behaviorConfiguration="NonStupidlyParanoidBehavior"
                  binding="basicHttpBinding"
                  bindingConfiguration="HugeBufferBindingConfig"
                  name="TrackingTcpEndpoint"
                  contract="Cormit.Application.RouteApplication.ICormit24" />
        <endpoint address="http://127.0.0.1:8013/Cormit24/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="ImardaCRMBusiness.ImardaCRM">
        <endpoint address="http://127.0.0.1:7011/ImardaCRM" 
                  behaviorConfiguration="NonStupidlyParanoidBehavior"
                  binding="basicHttpBinding" 
                  bindingConfiguration="HugeBufferBindingConfig" 
                  name="CRMTcpEndpoint" 
                  contract="ImardaCRMBusiness.IImardaCRM" />
       <!--<endpoint address="http://127.0.0.1:7011/ImardaCRM/mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
      <service name="ImardaSecurityBusiness.ImardaSecurity">
        <endpoint address="http://127.0.0.1:9012/ImardaSecurity" 
                  behaviorConfiguration="NonStupidlyParanoidBehavior" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="HugeBufferBindingConfig" 
                  name="SecurityTcpEndpoint" 
                  contract="ImardaSecurityBusiness.IImardaSecurity" />
      <!--<endpoint address="http://127.0.0.1:9012/ImardaSecurity/mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
      
      	<service name="ImardaConfigurationBusiness.ImardaConfiguration">
				<endpoint address="http://127.0.0.1:9011/ImardaConfiguration" 
                  behaviorConfiguration="NonStupidlyParanoidBehavior" 
        binding="basicHttpBinding"
        bindingConfiguration="HugeBufferBindingConfig" 
        name="ConfigurationTcpEndpoint" 
        contract="ImardaConfigurationBusiness.IImardaConfiguration" />
			</service>
      
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="HugeBufferBindingConfig" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" bypassProxyOnLocal="true" maxBufferSize="32768000" maxReceivedMessageSize="32768000">
          <readerQuotas maxDepth="32" maxStringContentLength="32768000" maxArrayLength="500000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="httpsBinding" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="DefaultBinding" closeTimeout="00:00:10" receiveTimeout="00:05:00" sendTimeout="00:01:00" maxBufferPoolSize="524288" maxBufferSize="104857600" maxReceivedMessageSize="104857600" maxConnections="500">
          <readerQuotas maxStringContentLength="104857600" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexbehavior">
          <serviceMetadata/>
        </behavior>
        <behavior name="debugTrue">
          <serviceMetadata  httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="250" maxConcurrentSessions="250" maxConcurrentInstances="1" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="NonStupidlyParanoidBehavior">
          <dataContractSerializer maxItemsInObjectGraph="16777216" />
        </behavior>
        
        <behavior name="DefaultBehavior">
          <dataContractSerializer maxItemsInObjectGraph="16777216" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  <client>
			
			<endpoint address="http://127.0.0.1:9011/ImardaConfiguration" 
                behaviorConfiguration="NonStupidlyParanoidBehavior" 
    binding="basicHttpBinding"
    bindingConfiguration="HugeBufferBindingConfig" 
    contract="ImardaConfigurationBusiness.IImardaConfiguration" 
    name="ConfigurationTcpEndpoint" />
			<endpoint address="http://127.0.0.1:9012/ImardaSecurity" 
                behaviorConfiguration="NonStupidlyParanoidBehavior" 
                binding="basicHttpBinding" 
                bindingConfiguration="HugeBufferBindingConfig" 
                contract="ImardaSecurityBusiness.IImardaSecurity" 
                name="SecurityTcpEndpoint" />
			<endpoint address="http://127.0.0.1:9013/ImardaTask" behaviorConfiguration="NonStupidlyParanoidBehavior" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" contract="ImardaTaskBusiness.IImardaTask" name="TaskTcpEndpoint" />
			<endpoint address="http://127.0.0.1:9014/ImardaReport" behaviorConfiguration="NonStupidlyParanoidBehavior" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" contract="ImardaReportBusiness.IImardaReport" name="ReportingTcpEndpoint" />
		</client>
  </system.serviceModel>

	<system.runtime.serialization>
		<dataContractSerializer>
			<declaredTypes>
				<add type="ImardaBatchProcessorInterface.AtomPart, ImardaBatchProcessorInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
					<knownType type="ImardaAtomGatewayBusiness.GuidPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.GeofencePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.OdometerPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.EventPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.GPSPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.IgnitionPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.KeyValuePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.TextMessagePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.DigitalInputPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.AnalogInputPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.AccelerationPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.AckPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.DeviceQueryPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.TestPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.IDPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.NamePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.VersionPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.QuantityPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.GPSStatusPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.DigitalOutputPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.MemoryPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.RollSensorPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.XYZPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.CountPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.UriPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.PowerChangePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.ReportingPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.FilePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.PolygonPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.PolygonGeofenceHeaderPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.AuditPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.DriverPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.BoolPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.FatiguePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.JobUpdatePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.UnitPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.TripPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.SMSConfigurationPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.FatigueServicePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.IPAddressPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.RequestForTrackingPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.EchoPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.FlagsPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.GeofenceCirclePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.JobParentPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.CalibrationPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.SpeedProfilePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.IncidentDataQuotaPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.IncidentAlertPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.IXLParameterPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.RoutePart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
					<knownType type="ImardaAtomGatewayBusiness.WaypointPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
					<knownType type="ImardaAtomGatewayBusiness.TrackPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
					<knownType type="ImardaAtomGatewayBusiness.JobPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
					<knownType type="ImardaAtomGatewayBusiness.SpeedInfoPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.TrailerLinkingPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
					<knownType type="ImardaAtomGatewayBusiness.TaskPart, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
					<!--template AtomPart
<knownType type="ImardaAtomGatewayBusiness.Part, ImardaAtomGatewayBusinessInterface, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
					-->
				</add>
			</declaredTypes>
		</dataContractSerializer>
	</system.runtime.serialization>
	<Gateway type="ImardaAtomGatewayBusiness.Config.Gateway, ImardaAtomGatewayBusinessInterface">
		<Communicators>
			<Communicator ID="1" Name="V300b" Endpoint="V300bCommunicatorTcpEndpoint" AllowAll="true">
				<!--PartFilters>
			<PartFilter Part="Ignition">
            <AtomTypes>
            </AtomTypes>
			</PartFilter>
			<PartFilter Part="GPS">
            <AtomTypes>17..23</AtomTypes>
			</PartFilter>
			<PartFilter Part="ID" Tag="i" />
			</PartFilters-->
			</Communicator>
			<Communicator ID="2" Name="SMDPb" Endpoint="SMDPbCommunicatorTcpEndpoint" AllowAll="true" />
			<Communicator ID="3" Name="Orionb" Endpoint="OrionbCommunicatorTcpEndpoint" AllowAll="true" />
			<Communicator ID="4" Name="Xirgo" Endpoint="XirgoCommunicatorTcpEndpoint" AllowAll="true" />
			<Communicator ID="5" Name="iPhone" Endpoint="iPhoneCommunicatorTcpEndpoint" AllowAll="true" />
			<!-- 6 = eRoad injector, 7 = GlobalStar injector -->
			<Communicator ID="8" Name="Atom" Endpoint="AtomCommunicatorTcpEndpoint" AllowAll="true" />
			<Communicator ID="9" Name="Calamp" Endpoint="CalampCommunicatorTcpEndpoint" AllowAll="true" />
			<Communicator ID="11" Name="Starlink" Endpoint="StarlinkCommunicatorTcpEndpoint" AllowAll="true" />
		</Communicators>
	</Gateway>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>