<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <add key="dbCheck" value="127.0.0.1" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="ImardaTaskBusiness.ImardaTask">
        <endpoint address="http://127.0.0.1:8091/ImardaTask" behaviorConfiguration="NonStupidlyParanoidBehavior"
          binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig"
          name="TaskTcpEndpoint" contract="ImardaTaskBusiness.IImardaTask" />
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8091/ImardaTask" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="HugeBufferBindingConfig" closeTimeout="00:02:00"
          openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00"
          bypassProxyOnLocal="true" maxBufferSize="32768000" maxReceivedMessageSize="32768000">
          <readerQuotas maxDepth="32" maxStringContentLength="32768000"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="BusinessNetTCPBinding" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" maxBufferSize="32768000" maxConnections="10000"
          maxReceivedMessageSize="32768000">
          <readerQuotas maxDepth="32" maxStringContentLength="32768000"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="false" inactivityTimeout="00:01:00"
            enabled="false" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="NonStupidlyParanoidBehavior">
          <dataContractSerializer maxItemsInObjectGraph="16777216"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <dataConfiguration defaultDatabase="ImardaDBConnection" />
  <!--
  Note that connection strings are retrived based on the assembly 
  name of the type an operation is being performed on.
  -->
  <connectionStrings>
    <clear />
    <add name="ImardaTaskBusinessInterface" connectionString="Integrated Security=False;Persist Security Info=False;Data Source=172.18.1.17\SQLEXPRESS;User ID=application;Password=imarda"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

