<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </sectionGroup>
  </configSections>
  <cachingConfiguration defaultCacheManager="Solution Cache">
    <cacheManagers>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Solution Cache"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
  <appSettings/>
  <connectionStrings/>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HugeBufferBindingConfig" maxReceivedMessageSize="32768000" maxBufferSize="32768000" openTimeout="00:02:00" closeTimeout="00:02:00" sendTimeout="00:02:00" receiveTimeout="00:02:00">
          <readerQuotas maxDepth="32" maxStringContentLength="32768000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <binding name="BusinessNetTCPBinding" maxReceivedMessageSize="32768000" maxBufferSize="32768000" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxConnections="10000">
          <readerQuotas maxDepth="32" maxStringContentLength="32768000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="false" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="None"/>
        </binding>

        <binding name="HugeBufferNetTCPBinding" maxReceivedMessageSize="104857600" maxBufferSize="104857600" receiveTimeout="00:40:00" sendTimeout="00:40:00" maxConnections="10000">
          <readerQuotas maxDepth="104857600" maxStringContentLength="104857600" maxArrayLength="104857600" maxBytesPerRead="104857600" maxNameTableCharCount="104857600"/>
          <reliableSession ordered="false" inactivityTimeout="00:01:00" enabled="false" />
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- HTTP 
			<endpoint address="http://127.0.0.1:8091/FernLogging" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" behaviorConfiguration="NonStupidlyParanoidBehavior" contract="FernLoggingBusiness.IFernLogging"/>
      <endpoint address="http://127.0.0.1:8087/FernCRM" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" behaviorConfiguration="NonStupidlyParanoidBehavior" contract="FernCRMBusiness.IFernCRM"/>
      <endpoint address="http://127.0.0.1:8088/FernAccounting" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" behaviorConfiguration="NonStupidlyParanoidBehavior" contract="FernAccountingBusiness.IFernAccounting"/>
      <endpoint address="http://127.0.0.1:8100/Security" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" behaviorConfiguration="NonStupidlyParanoidBehavior" contract="SecurityBusiness.ISecurity"/>
      <endpoint address="http://127.0.0.1:8115/Configuration" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" behaviorConfiguration="NonStupidlyParanoidBehavior" contract="ConfigurationBusiness.IConfiguration"/>
      <endpoint address="http://127.0.0.1:8110/Template" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" behaviorConfiguration="NonStupidlyParanoidBehavior" contract="TemplateBusiness.ITemplateService"/>
      <endpoint address="http://127.0.0.1:8110/FernCMS" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" behaviorConfiguration="NonStupidlyParanoidBehavior" contract="FernCMSBusiness.IFernCMS"/>
      -->
      <!-- TCP -->
      <endpoint name="CRMTcpEndpoint" address="http://127.0.0.1:8091/ImardaCRM" binding="basicHttpBinding" bindingConfiguration="HugeBufferBindingConfig" contract="ImardaCRMBusiness.IImardaCRM" behaviorConfiguration="NonStupidlyParanoidBehavior"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NonStupidlyParanoidBehavior">
          <dataContractSerializer maxItemsInObjectGraph="16777216"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


